name: "[tester] CI for tests"

on:
  pull_request:
    branches:
      - "master"
    paths:
      - "src/**"
      - "Dockerfile"
      - "docker-entrypoint.sh"
  push:
    branches:
      - "*"
      - "!main"
    paths:
      - "src/**"
      - "Dockerfile"
      - "docker-entrypoint.sh"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build dockerfile (without push)
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm/v7,linux/arm64
