name: "[builder] CI for nightly build releases"

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: ~

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Dockerhub login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set date
        id: date
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/ttrss
          tags: |
            type=raw,value=nightly,enable={{ is_default_branch }}
            type=raw,value=nightly-{{ date 'YYYY-MM-DD' }},enable={{ is_default_branch }}
            type=raw,value={{ branch }}-nightly,enable=${{ github.ref != format('refs/heads/{0}', 'main') }}
            type=raw,value={{ branch }}-nightly-{{date 'YYYY-MM-DD'}},enable=${{ github.ref != format('refs/heads/{0}', 'main') }}
          flavor: latest=false
      - name: Build dockerfile (with push)
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.date.outputs.tags }}
          labels: ${{ steps.date.outputs.labels }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max