name: "[builder] CI for releases"

on:
  repository_dispatch:
    types: build
  workflow_dispatch: ~
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
      - dev
    paths:
      - "src/**"
      - "Dockerfile"
      - "docker-entrypoint.sh"
      - ".github/workflows/build-release.yml"
  pull_request:
    paths:
      - "src/**"
      - "Dockerfile"
      - "docker-entrypoint.sh"
      - ".github/workflows/build-release.yml"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ttrss

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Dockerhub login
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set tag
        id: tag
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ vars.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}
            ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            # latest
            type=raw,value=latest,enable=${{ github.event_name != 'schedule' && github.ref_name == 'main' }}
            type=raw,value=latest-{{ date 'YYYY-MM-DD' }},enable=${{ github.event_name != 'schedule' && github.ref_name == 'main' }}
            # branch
            type=ref,event=branch,enable=${{ github.event_name != 'schedule' && github.ref_name != 'main' }}
            type=ref,event=branch,suffix=-{{ date 'YYYY-MM-DD' }},enable=${{ github.event_name != 'schedule' && github.ref_name != 'main' }}
            # nightly
            type=raw,value=nightly,enable=${{ (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'repository_dispatch') && github.ref_name == 'main' }}
            type=raw,value=nightly-{{ date 'YYYY-MM-DD' }},enable=${{ (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || github.event_name == 'repository_dispatch') && github.ref_name == 'main' }}
          flavor: latest=false

      - name: Build dockerfile (with push)
        uses: docker/build-push-action@v6
        id: push
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.tag.outputs.tags }}
          labels: ${{ steps.tag.outputs.labels }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Attest
        uses: actions/attest-build-provenance@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          subject-name: |
            ${{ vars.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}
            ${{ env.REGISTRY }}/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}
