name: "[doc] CI for docs"

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "package.json"
      - "yarn.lock"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: "15.x"
          cache: "npm"
      - name: Build vuepress docs
        env:
          CI_TOKEN: ${{ secrets.CI_TOKEN }}
        run: npm install && npm run docs:build && bash deploy-doc.sh
